 
 
 .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: right;
    background-color: transparent;
    /* height: 100vh;
    width: 100vw; */
  }
  .image{
    display: flex;
    text-align: left;
    background-color: rgba(0, 0, 0, 0.7); /* el último valor (0.7) indica la opacidad */
    margin-top: 5px;
    border-radius: 10%;
    height: 400px;
  }
  .img {
    display: flex;
    border-radius: 100%;
    width: 300px;
    height: 300px;
    margin-top: 30px;
    margin-left: 30px;
  }


  .character_details {
    position: relative;
    display: inline-block;
    flex-wrap: wrap;
    align-items: left;
    justify-content: center;
    min-height: 75vh;
    min-width: 50vh;
    background:transparent;
    border-radius: 20px;
    padding-bottom: 20px;
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 45px;

    

  }

  @font-face {
    font-family: 'Type';
    src: local('Type'), url('../OldNewspaperTypes.ttf') format('truetype');
  }
  
  .character_details h3 {
    font-family: 'Type';
    font-size: 25px;
    color:white ;
    padding-left: 20px;
    margin-top: 1rem;
    text-align: left;
    text-transform: capitalize;
    overflow: hidden; /* oculta el contenido que sobresale */
    white-space: nowrap; /* evita que el texto se divida en varias líneas */
    animation: typing 1s steps(21) forwards; /* inicia la animación */
  }
  
  @keyframes typing {
    from {
      width: 0; /* empieza con un ancho de cero */
    }
    to {
      width: 100%; /* termina con el ancho completo */
    }
  }

  
  .character_details p {
    font-family: 'Type';
    font-size: 25px;
    margin-top:0.5rem;
    text-align: left;
    padding-left: 25px;
    color:white;
  }


  .blink {
    animation: blink-animation 1s infinite;
  }
  
  @keyframes blink-animation {
    50% {
      opacity: 0.5;
    }
  }
  .alive {
    position: relative;
    padding-left: 1.5rem;
    align-items: center;
  }
  
  .alive::before {
    content: '';
    display: block;
    position:absolute;
    top: 15px;
    left: 0;
    width: 10px;
    height: 10px;
    background-color: rgb(43, 239, 4);
    animation: blink-animation 0.5s infinite;
  }
  .dead {
    position: relative;
    padding-left: 1.5rem;
    align-items: center;
  }
  
  .dead::before {
    content: '';
    display: block;
    position: absolute;
    top: 15px;
    left: 0;
    width: 10px;
    height: 10px;
    background-color: rgb(255, 0, 0);
    animation: blink-animation 1s infinite;
  }
  .status_alive {
    color: rgb(255, 255, 255);
   padding: 5px 20px ; 
    font-size: 25px;
  }
  
  
   
  .status_death {
    color: rgb(254, 254, 254);
    padding: 5px 20px ;
    font-size: 25px;
  }
  .character_status {
    display: flex;
    text-align: right;
    background-color: transparent;
  }
  
  .character_status h4 {
    display: inline-flex;
    text-align: center;
    background-color: transparent;
  }
  
  .character_status span {
    margin-right: 0.5rem;
    padding-bottom: 10px;
   

  }
  .custom_loader {
    width: 100px;
    height: 100px;
    border: 4px solid #f3f3f3;
    border-top: 4px solid #fe0101;
    border-radius: 50%;
    animation: spin 0.8s linear infinite;
    
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  
  
  